body {
  background: black;
  color: #dddddd;
  font-family: "courier new";
  text-align: center;
}

h1 {
  font-size: 14pt;
  font-weight: normal;
}

#game-grid {
  margin-left: auto;
  margin-right: auto;
}

#game-grid tr td{
  border: 1px solid white;
  background: #999999;
  width: 20px;
  height: 20px;
  text-align: center;
}

#game-grid tr td.clicked {
    background: #333333;
}

#game-grid tr td.mine {
    background: #FF0000;
}

#game-grid tr td.flag {
  background: #0000FF;
}

#settings-button {
  position: absolute;
  left: 0px;
  top: 0px;
}

#settings-panel {
  background: #dddddd;
  position:absolute;
  left: 1px;
  top: 22px;
  width: 350px;
  height: 150px;

  padding: 12px;
  color: black;
  text-align: left;
}

#dashbord {
  margin: 12px;
}

#reset-button {
  margin: 0px 24px 0px 24px;
}

#apply-settings-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 12px;
}